$cardColor: rgba(255, 255, 255, 0.64);
$cardShadow: 0 15px 20px rgba(black, 0.02);

.trends {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $cardColor;
    padding: 1rem;
    border-radius: 1rem;
    padding-left: 2rem;
    box-shadow: $cardShadow;

    &-heading {
      margin-bottom: 1rem;
    }

    &-trend {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .trend-name {
        font-weight: bold;
      }

      .trend-shares {
        font-size: 1.1rem;
      }
    }
  }
  &__button {
    height: 3rem;
    width: 80%;
    align-self: center;
  }
}
