$cardColor: rgba(255, 255, 255, 0.64);
$gray: rgba(36, 45, 73, 0.65);
$cardShadow: 0 15px 20px rgba(black, 0.02);

.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $cardColor;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: $cardShadow;

  &__image-container {
    width: 100%;
    max-height: 35rem;
    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__icons-container {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
  }

  &__likes {
    font-size: 1.1rem;
    color: $gray;
  }
}
